#check-for-clicking { 
  display: none; 
}
.main-add-button-plus, .menu-add-items, .main-add-button-minus {
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 130px;
  height: 130px;
  text-align: center;
  border-radius: 50%;
/*   -webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75); */
}
.main-add-button-plus, .main-add-button-minus {
  background: #bccbbc;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.35);
  cursor: pointer;
  z-index: 50;
}
.main-add-button-plus:hover { 
  background: #9ed3ba;
}
.main-add-button-minus:hover {
  background: #9ed3ba;
}
.main-add-button-plus:active {
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.35), inset 1px 2px 2px rgba(0, 0, 0, 0.35);
  background-color: #9ed3ba;
}
.main-add-button-minus:active {
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.35), inset 1px 2px 2px rgba(0, 0, 0, 0.35);
  background-color: #9ed3ba;
}
.main-add-button-plus .menu-add-button-title {
  padding: 14px 10px 10px 1px;
  width: 100%;
  height: 80px;
  font-family: 'Pangolin', cursive;
  font-size: 2.5em;
  line-height: 100px;
  text-align: center;
  color: #fafafa;
}
.main-add-button-minus .menu-add-button-title {
  padding: 14px 10px 10px 1px;
  width: 100%;
  height: 100px;
  font-family: 'Nanum pen Script', cursive;
  font-size: 2.5em;
  line-height: 100px;
  text-align: center;
  color: #fafafa;
}
.menu-add-items { 
  z-index: 10;
  font-size: 2em;
  font-family: 'Nanum pen Script', cursive;
}
.plate {
  margin: auto;
  position: absolute;
  text-align: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 130px;
  height: 130px;
  opacity: 0;
  border-radius: 50%;
  -webkit-transition: all 0.4s ease-in;
  -moz-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  cursor: pointer;
/*   background: #0c2058;
  -webkit-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.75); */
}
.plate i {
  width: 100%;
  height: 100px;
  text-align: center;
  color: white;
  font-family: 'Nanum pen Script', cursive;
  font-size: 0.8em;
  line-height: 120px;
}
.plate:hover i { 
  color: #111;
}
.plate:nth-of-type(1) {
  background: #bccbbc;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
}
.plate:nth-of-type(2) {
  background: #bccbbc;
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
.plate:nth-of-type(3) {
  background: #bccbbc;
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.plate:nth-of-type(4) {
  background: #bccbbc;
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.plate:nth-of-type(5) {
  background: #bccbbc;
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.plate:nth-of-type(6) {
  background: #bccbbc;
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.plate:nth-of-type(1):hover {
  background: #bccbbc;
}
.plate:nth-of-type(2):hover {
  background: #bccbbc;
}
.plate:nth-of-type(3):hover {
  background: #bccbbc;
}
.plate:nth-of-type(4):hover {
  background: #bccbbc;
}
.plate:nth-of-type(5):hover {
  background: #bccbbc;
}
.plate:nth-of-type(6):hover {
  background: #bccbbc;
}

#check-for-clicking:checked ~ .main-add-button-minus + .menu-add-items .plate {
  opacity: 1; 
}
#check-for-clicking:checked ~ .main-add-button-minus + .menu-add-items .plate:nth-of-type(1) {
  left: -210%;
  top: -90%;
}
#check-for-clicking:checked ~ .main-add-button-minus + .menu-add-items .plate:nth-of-type(2) {
  top: -240%;
}
#check-for-clicking:checked ~ .main-add-button-minus + .menu-add-items .plate:nth-of-type(3) { 
  right: -210%;
  top: -90%;
}
#check-for-clicking:checked ~ .main-add-button-minus + .menu-add-items .plate:nth-of-type(4) { 
  left: -210%;
  bottom: -140%;
}
#check-for-clicking:checked ~ .main-add-button-minus + .menu-add-items .plate:nth-of-type(5) { 
  bottom: -240%;
}
#check-for-clicking:checked ~ .main-add-button-minus + .menu-add-items .plate:nth-of-type(6) { 
  right: -210%;
  bottom: -140%;
}
#check-for-clicking:checked ~ .main-add-button-plus {
  display: none;
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
#check-for-clicking:checked ~ .main-add-button-minus {
  display: inline;
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
#check-for-clicking:not(:checked) ~ .main-add-button-minus {
  display: none;
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
#check-for-clicking:not(:checked) ~ .main-add-button-plus {
  display: inline;
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  transition-delay: 0.1s;
}